*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}
.landing-page{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.parent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  .parent p{
    color: #333;
    font-size: 27px;
    line-height: 1.2;
    letter-spacing: 2px;
    font-weight: 500;
  }

  .image img{
    max-width: 600px;
    filter: grayscale(85%);
  }

  .parent .ans{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 56px;
    border: none;
    border-radius: 6px;
    background-color: #919aaf;
    color: #eee;
    font-weight: 600;
    margin: 25px 0;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
  }
  .parent .ans:hover{
    background-color: #424142;
    transition: 1s ease-in-out;
  }
  .parent .ans i{
    position: absolute;
    right: 9px;
    font-size: 25px;
    color: #eee;
    padding-left: 13px;
  }
  @media(max-width:799px){
    .image img{
        display: none;
    }
    .parent p {
        text-align: center;
    }
  }
/* ------------------------  landing-page -------*/
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;

}
.sidbar{
  top: 0px;
  width: 250px;
  height: 100%;
  box-shadow: -15px 3px 10px #ddd;
  background-color: #373e46;
  flex: 0.9;
}

.sidbar .user{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.sidbar .image{
    width: 130px;
    height: 130px;
    border: none;
    border-radius: 50%;
    background-color: aliceblue;
    overflow: hidden;
}
.user .img_name  p{
  margin: 15px 0;
  font-size: 26px;
  color: #eee;
}
.sidbar .flag{
  width: 100px;
  height: 34px;
  border: none;
  border-radius: 6px;
  background-color: #919aaf;
  color: #eee;
  font-weight: 600;
  margin: 10px 0;
  text-transform: uppercase;
  cursor: pointer;
}
.sidbar .flag:hover{
  background-color: #333;
  color: #eee;
}
.flages_timer {
  display: flex;
  width: 158px;
  justify-content: space-between;
  font-size: 22px;
  color: #eee;
  background-color: #333;
  padding: 10px;
  border: none;
  border-radius: 10px;
}
#flagged-questions{
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin: 7px 0;
  color: #eee;
}
.flagged-q{
  width: 192px;
  margin-top: 7px;
  margin-left: 9%;
  border-radius: 10px;
  background-color: #5f585829;
  color: #eee;
}
.flagged-q:hover{
  background-color: #333;

}

@media(max-width:767px){
  .sidbar .image{
    width: 50px;
    height: 50px;
  }
  .sidbar .user{
    flex-direction: row;
  }
  .sidbar {
    width: 100%;
    padding: 10px;
} 
  .container{
    flex-direction: column-reverse;
  }
  .user .img_name p{
    font-size: 16px;
    text-align: center;

  }
}

/* -------------------  examin --------- */
.left{
  flex: 5;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.lines{
  background: red;
  width: 60%;
  height: 10px;
  position: relative;
  top: -71px;
  border-radius: 14px;
  background-color: #979393;
}
.lines span{
  height: 100%;
  width: 100%;
  background-color: #333;
  position: absolute;
  border-radius:14px ;
}
#Exam{
  display: flex;
  width: 800px;
  height: 530px;
  border: 4px solid #333;
  border-radius: 15px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
#question{
  width: 650px;
  height: 80px;
  border: none;
  text-align: center;
  background-color: #373e46;
  padding: 17px;
  color: white;
  border-radius: 8px;
  font-size: 17px;
  line-height: 19.2px;
  letter-spacing: 1.5px;
}
#answers{
  width: 650px;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
}
.ans-row{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  height: 100%;
}
.ans-row .ans{
  width: 48%;
  color: #333;
  background-color: #eee;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}
.ans-row .ans:hover{
  background-color: #373e46;
  color: #eee;
}
#navigation{
  display: flex;
  justify-content:space-between;
  width: 630px;
  height: 60px;
}
#navigation button{
  width: 82px;
  height: 41px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color:#373e46;
  font-size: 16px;
  color: #eee;
  font-weight: 800;
  transition: 0.2s ease-in-out;
}
#navigation button:hover{
  background-color: #eee;
  color: #333;
}
.hidden{
    display: none;
}
@media(max-width:767px){
  .left{
  justify-content: start;

  }
  #question{
    width: 90%;
  }
  #answers{
    width: 90%;
  }
  #navigation{
    width: 90%;
  }
  .examin{
    width: 350px;
  }
  #Exam{
    width: 100%;
    margin-top: 20px;
  }
  .ans-row .ans {
    width: 46%;
  }
  .lines{
    top: 11px;
  
  }
}
.selected{
  color: #eee !important;
  background-color: #333 !important;
}

