* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    flex-direction: column;
}

h1 {
    color: #333;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#congrats {
    color: #333;
    font-size: 27px;
    line-height: 1.2;
    letter-spacing: 2px;
    font-weight: 500;
    text-align: center;

}

#results-text {
    color: #424142;
    font-size: 42px;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 56px;
    border: none;
    border-radius: 6px;
    background-color: #919aaf;
    color: #eee;
    font-weight: 600;
    margin: 25px 0;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}

.btn:hover {
    background-color: #424142;
    transition: 1s ease-in-out;
}

@media(max-width: 799px) {

    h1,
    #congrats {
        font-size: 24px;
    }
}

#retake {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 56px;
    border: none;
    border-radius: 6px;
    background-color: #919aaf;
    color: #eee;
    font-weight: 600;
    margin: 25px 0;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;

}

#retake:hover {
    background-color: #424142;
    transition: 1s ease-in-out;
}

/* rainbow animation gpt*/
/* Fluent and Seamless Gradient Rainbow Effect */
@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.rainbow-text {
    background: linear-gradient(270deg, #ff004c, #ffba08, #0bda51, #00bbf9, #9b5de5);
    background-size: 400% 400%;
    /* Increased size for smooth cycling */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 3s ease-in-out infinite;
    /* Longer duration for seamless cycling */
    font-weight: 10000;
    font-size: larger;
}

#results-text.rainbow-text {
    font-size: 42px;
    letter-spacing: 1.5px;
}

#congrats.rainbow-text {
    font-size: 30px;
    letter-spacing: 2px;
}